node_modules
**/node_modules
.pnpm-store
.git
.gitignore
.next
**/.next
dist
**/dist
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
*.log
.DS_Store
.env
.env.*
!.env.example
